<div class="comment clearfix">
	<div class="comment_content">
		<p class="comment_name"><%= content.name %></p>
		<p class="comment_body"><%= comment.body%></p>
		<p class="comment_title"><%= time_in_words_ago(comment.created_at)%>Ago</p>
	</div>

</div>