<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag 'profile.jpg' %>
	</div>

</div>

<div id="content">
	<h1>Hi, I am Ashish</h1>
	<p>Simply put, it’s a take on the lorem ipsum filler text used when doing design mockups.  I was mocking up a web design one day and needed a few words to fill out a link.  “Lorem ipsum bacon” popped into my head, so I plugged that into my HTML.  Later that day, it hit me.  Make a lorem ipsum generator but use types and cuts of meat.
    </p>

</div>